<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bakingApp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".utils.BakingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>
        <service android:name=".utils.WidgetUpdateService"/>
        <activity
            android:name=".activities.RecipeActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bakingApp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.StepActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden"
            android:parentActivityName=".activities.RecipeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bakingApp.activities.RecipeActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>